html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--dsw-alias-bg-base);
  font-family: var(--dsw-font-family);
  -webkit-font-smoothing: antialiased;
}

button,
input {
  font: inherit;
}
